/* Universal reset (box-sizing & font sab par chalega) */
*, *::before, *::after {
    box-sizing: border-radius;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* SweetAlert2 ke kisi bhi element ko chhod kar baaki sabka margin & padding 0 hoga */
*:not([class^="swal2-"]):not([class*=" swal2-"]) {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}











input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #FFF3F4 inset !important;
    -webkit-text-fill-color: #333333 !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}