
.maincontainer{
    display: flex;
    padding: 0 !important;
    margin: auto !important;
    height: 100dvh;
    /* gap: 20px; */
    background-color: #FCFAF9;
    overflow: hidden;

}
.sidebarmobile{
    display: none;
}
.sidebardesktop {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 0px !important;
    gap: 10px;
    height: 100dvh;
    align-items: center;
    border: 1px solid #EFE0E2;
    background: #FFF3F4;
    position: sticky;
    top: 0;
    z-index: 1090;
    flex-shrink: 0;
}
.sidebardesktopupper{
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 0px !important;
border: 1px solid #EFE0E2;
width: 100%;
gap: 05px;
margin-bottom: 10px !important;
}
.sidebardesktop > .navlink{
    text-decoration: none;
    color: #635054;
    font-weight: 500;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px !important;
    text-align: center;
}
.sidebardesktop > .navlink:hover{
    background-color: #FCE2E5;
    border-radius: 15px;
}
.active{
    background-color: #FCE2E5;
    border-radius: 15px;
   
}
.active  .icon{
    color: #E8788A;
}
.icon{
    color:#635054;
}
.content{
flex: 1;
min-width: 0;
    /* width: 87%; */
    padding: 0px 50px 0px 30px !important;
}


@media (min-width: 320px) and (max-width: 1100px) {
    .maincontainer {
        display: flex;

        height: 100dvh;
        width: 100%;
        background-color: whitesmoke;

    }
    .sidebardesktop {
        display: none;
    }
    .sidebarmobile{
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        border-top: 1px solid #E4E4E7;
        padding: 5px 10px !important;
        z-index: 9999;
    }
    .sidebarmobile > a{
        color: black;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px 0px 0px !important;
        font-size: 14px;
        gap: 5px;
        
    }
    .active{
        background-color: white;
        border-radius: 50%;
        transform: translateY(-10px);
    }

    .content {
        width: 100%;
        padding-top: 0px !important;
        display: flex;
        min-height: 100dvh;
        justify-self: center;

    }
}

/* @media (min-width: 721px) and (max-width: 1100px) {

    .maincontainer {
        display: block;
        height: 100%;
        background-color: whitesmoke;

    }

    .sidebarmobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9998;
    }

    .sidebarmobile > .sidebarmenubutton {
        position: absolute;
        cursor: pointer;
        top: 0px;
        left: 10px;
        z-index: 10000;
        transition: transform 0.3s ease;
    }
    
    .sidebarmobile > .sidebarmenubutton:hover {
        transform: translateY(-3px);
    }

    .sidebarmobile > .sidebar {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100dvh;
        padding-top: 0px !important;
        gap: 10px;
        align-items: center;
   border: 1px solid #EFE0E2;
    background: #FFF3F4;
        z-index: 9999;
    }

    .sidebarmobile > .sidebar > button {
        display: grid;
        align-self: flex-end;
        margin-right: 15px !important;
        border: none;
        background: none;
    }

    .sidebarmobile > .sidebar > .navlink {
        border: 1px solid #ff1493;
        text-decoration: none;
        color: #ff1493;
        width: 70%;
        padding: 10px !important;
        text-align: center;
    }

    .sidebardesktop {
        display: none;
    }

    .content {
        width: 90%;
        padding-top: 0px !important;
        min-height: 100dvh;
         display: flex;
        justify-self: center;

    }
} */